@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;900&family=Roboto&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px 20px;
    height: 100vh;
    font-size: 20px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    min-width: 930px;
    min-height: 880px;
}

label {
    margin-right: 5px;
}

button#clear-grid {
    margin-left: 20px;
    font-size: 20px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

input {
    width: 3em;
    font-size: 20px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#canvas {
    /* box-sizing: border-box; */
    display: flex;
    flex-wrap: wrap;
    border: 2px solid lightgray ;
    border-radius: 3px;
}

.pixel {
    box-sizing: border-box;
    background-color: white;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.pixel:hover {
    border: 1px dashed gray ;
    /* border-radius: 5px; */
}

#colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.color-swatch {
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 75px;
    height: 50px;
    flex: none;
    transition: transform 0.2s;
}

.color-swatch:hover {
    /* transform: scale(1.05); */
    transform: translate(-5px,0px);
}

.color-swatch.selected {
    /* transform: scale(1.1); */
    transform: translate(-5px,0px);
}